body {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 13px;
}

#opt_selected {
    margin-top: 20px;
}

/* demo_dropdown 1 ---------------------------------------------------------- */
.container1 {
    margin: 20px 30px 10px 30px ;
    display: inline-block;
}

.menu1 {
    position: absolute;
    width: 200px;
    margin-top: 3px !important;
}

/* demo_dropdown 2 ---------------------------------------------------------- */
.container2 {
    margin: 20px 30px 10px 30px ;
    display: inline-block;
}

/* demo_dropdown 3 ---------------------------------------------------------- */
.container3 {
    margin: 20px 30px 10px 30px ;
    padding: 4px;
    display: inline-block;
}
.launcher3_container {
    padding: 4px 4px 6px 4px;
}

.launcher3 {
    padding: 3px;
}

/* demo_dropdown 4 ---------------------------------------------------------- */
.container4 {
    margin: 20px 30px 10px 30px ;
    padding: 4px;
    display: inline-block;
}

.menu4 {
    position: absolute;
    width: 100px;
    margin-top: 3px !important;
}